<% content_for :title, "Editing book" %>

<h1>Editing book</h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to "Show this book", @book, class: 'btn btn-secundary' %> |
  <%= link_to 'Back', books_path, class: 'btn btn-primary' %>
</div>
